html {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Inconsolata', monospace;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    color: white;
}

body h1 {
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

#container {
    display: flex;
    justify-content: space-between;
}

#leftSide,
#rightSide {
    width: 48%;
    max-height: 400px;
    border: 1px solid #ddd;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}

#leftSide img,
#rightSide img {
    width: auto;
    max-height: 100%;
    display: block;
    margin: auto;
    object-fit: contain;
}

img {
    display: block;
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
    transition: all 1.5s;
}

a:hover {
    color: hotpink;
}

button {
    color: orangered;
    transition: all 2s;
    border-radius: 30px;
}

button:hover {
    background-color: lightseagreen;
}

div[style*="margin-top: 20px;"]:nth-child(3) {
    clear: both;
}

.centered-elements {
    text-align: center;
    margin-top: 20px;
}

.file-input {
    padding: 10px 15px;
    font-size: 16px;
}

.action-button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: orangered;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}