html {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    color: white;
}

body h1 {
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

#leftSide,
#rightSide {
    display: inline-block;
    width: 48%;
    height: 400px;
    border: 1px solid #ddd;
    vertical-align: top;
    text-align: center;
    padding: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
}