@keyframes borderAnimation {
  0% {
    border-color: hsl(240, 100%, 50%);
  }

  25% {
    border-color: hsl(300, 100%, 50%);
  }

  50% {
    border-color: hsl(0, 100%, 50%);
  }

  75% {
    border-color: hsl(60, 100%, 50%);
  }

  100% {
    border-color: hsl(120, 100%, 50%);
  }

}

body,
button,
input,
textarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  text-align: center;
  background: linear-gradient(45deg, #333, #555);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

body {
  font-family: Consolas, monospace;
  margin: 0;
}

:lang(ja) {
  font-family: Arial, sans-serif;
}

.alien-button {
  position: relative;
  padding: 15px 25px;
  font-size: 18px;
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.alien-button:hover {
  background-color: orange;
}

.alien-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  transition: transform 0.3s ease;
  margin-left: 10px;
  vertical-align: middle;
}

.alien-button:hover .alien-icon {
  transform: translateY(-50%) scale(1.2);
}


.video-container {
  position: relative;
  width: 80%;
  max-width: 720px;
  border: 1px solid #ff4500;
  animation: borderAnimation 5s infinite;
  border-radius: 8px;
  overflow: hidden;
}

.video-container video {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.interaction-container {
  width: 100%;
  max-width: 720px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interaction-container input {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
}

.interaction-container textarea.user-input {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  resize: none;
  overflow-y: hidden;
}

.interaction-container button {
  padding: 15px 25px;
  font-size: 18px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.interaction-container button:hover {
  background-color: #ff4500;
}

.response-container {
  width: 80%;
  max-width: 720px;
  margin-top: 20px;
  padding: 30px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #222;
}

.service-configuration img {
  width: 100%;
  max-width: 720px;
  height: auto;
  border-radius: 8px;
}

.service-configuration {
  margin-top: 30px;
}

.service-configuration h2 {
  color: #ff4500;
}

h5 a {
  color: hotpink;
  transition: all 1s;
  text-decoration: none;
}

h5 a:hover {
  color: white;
}