.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.App-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature {
  margin: 20px;
  padding: 20px;
  border: 2px solid #61dafb;
  border-radius: 10px;
  max-width: 300px;
  text-align: left;
  text-decoration: none;
  color: white;
  background-color: #61dafb;
  transition: background-color 1s;
}

.feature:hover {
  background-color: #8fd3ff;
}

.feature h2 {
  color: white;
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  text-align: center;
  color: white;
}

.App-footer a {
  color: white;
  text-decoration: none;
  transition: all 1s;
}

.App-footer a:hover {
  color: rgb(231, 9, 139);
}

.header-menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.header-menu li {
  margin: 0 10px;
}

.header-menu a {
  color: #079cf3;
  text-decoration: none;
  transition: all 1s;
  font-size: 1.3rem;

}

.header-menu a:hover {
  color: #eed709;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-links img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.social-links img:hover {
  transform: scale(1.5);
}

.explore-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.audio-spectrum {
  width: 100%;
  height: 200px;
  background: #f2f2f2;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #610332;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.generate-button,
.play-button,
.stop-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #610332;
  color: white;
  transition: all 0.3s;
}

.generate-button:hover,
.play-button:hover,
.stop-button:hover {
  background-color: #405a02;
}

.hide {
  display: none;
}

@media (max-width: 375px) {
  .App-main {
    flex-direction: column;
  }

  .feature {
    max-width: 90%;
    margin: 10px 5%;
  }
}