html,
body {
    height: 100%;
}

body {
    background-color: #333333;
    color: white;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    position: relative;
    padding-top: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.loader {
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    /* 中央に配置 */
    justify-content: center;
    /* 中央に配置 */
    margin: auto;
}

.loader h2 {
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    z-index: 10;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin: 0;
    white-space: nowrap;
    padding: 0;
}

.loader span {
    position: absolute;
    border: 2px solid #f3f706;
    animation: animate 5s linear infinite;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    border-radius: 50%;
}

.loader span:nth-child(1) {
    border-radius: 86% 14% 55% 45% / 25% 68% 32% 75%;
}

.loader span:nth-child(2) {
    animation-direction: reverse;
    border-radius: 32% 68% 11% 89% / 63% 32% 68% 37%;
}

.loader span:nth-child(3) {
    animation-duration: 3s;
    border-radius: 43% 57% 55% 45% / 82% 60% 40% 18%;
}

.loaded {
    opacity: 0;
    visibility: hidden;
    transition: all 5s;
}

.content {
    visibility: hidden;
    color: white;
    font-size: 1.5rem;
    transition: all 5s;
    transition-delay: 3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    padding: 20px 0;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.image-generate-form {
    /* ここがクラス名が間違っていたので修正 */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 20;
    position: relative;
    margin-bottom: 50px;
    /* 画像との間にスペースを追加 */
}

textarea {
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #f3f706;
    background-color: #444;
    color: white;
    resize: vertical;
    width: 100%;
    /* 240%から100%に変更 */
    max-width: 1500px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-color: #f3f706;
    color: #333;
    cursor: pointer;
    transition: background-color 1s, border-radius 1s;
}

button:hover {
    background-color: #e4e002;
    border-radius: 15px;
}

h5 a {
    color: white;
    text-decoration: none;
    transition: all 1s;
    font-size: 0.7rem;
    margin-top: 5px;
    margin-bottom: 30px;
}

h5 a:hover {
    color: hotpink;
}

.generated-images-container {
    display: flex;
    flex-direction: column;
    /* 画像を縦に並べる */
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px 0;
    margin-top: 20px;
    max-height: 50vh;
    overflow-y: auto;
}

.generated-images-container img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    /* 追加 */
}

.hidden {
    display: none;
}

#generating-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#generating-message h2 {
    animation: fadeInOut 1.5s infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}